.HomeDisclaimer {
  color:#fff;
  font-family: Arial, Verdana, Helvetica, San Serif; font-size: 9px; text-align: center; display:block; width: 800px; margin: 15px auto}
  
.otanoshimini{
  color: red;
  font-size: large;
  text-align: center;
}